<html>
<head>
    <title>Register</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <style>
      h1{
        font-family: 'Lobster', cursive;
        text-align: center;
      }
      body {
        font-family: 'Quicksand', sans-serif;
        background-color: #A2B8A3;
    }
      div {
        margin: auto;
        width: 60%;
        border: 3px solid black;
        padding: 10px;
        text-align: center;
    }
      .right {
        text-align: right;
        float: right;
    }
    </style>
</head> 
<body>
    <a href="https://slowbrosql.herokuapp.com/login">Back to Login</a>
       <div class="right">
    <a href="https://slowbrosql.herokuapp.com/add_provider" text-align:right>Register as Provider</a>
    </div>
    <h1>Register</h1>
   
    <p style="color:red">{{ status|safe }}</p>
    <!-- Create a Form -->
    <form method="POST">
        <!-- Security token by Django -->
        {% csrf_token %}
        <!-- form -->
        <div id="div_id_user" class="control-group"> <label for="id_user" class="control-label requiredField">
        User ID<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="user" maxlength="64" class="textinput textInput" required="" id="id_user"> </div> </div> <div id="div_id_password" class="control-group"> <label for="id_password" class="control-label requiredField">
        Password<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="password" maxlength="64" class="textinput textInput" required="" id="id_password"> </div> </div> <div id="div_id_first_name" class="control-group"> <label for="id_first_name" class="control-label requiredField">
        First Name<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="first_name" maxlength="64" class="textinput textInput" required="" id="id_first_name"> </div> </div> <div id="div_id_last_name" class="control-group"> <label for="id_last_name" class="control-label requiredField">
        Last Name<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="last_name" maxlength="64" class="textinput textInput" required="" id="id_last_name"> </div> </div> <div id="div_id_gender" class="control-group"> <label for="id_gender" class="control-label requiredField">
        Gender<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="gender" maxlength="64" class="textinput textInput" required="" id="id_gender"> </div> </div> <div id="div_id_email" class="control-group"> <label for="id_email" class="control-label requiredField">
        Email Address<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="email" maxlength="64" class="textinput textInput" required="" id="id_email"> </div> </div> <div id="div_id_address" class="control-group"> <label for="id_address" class="control-label requiredField">
        Address<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="address" maxlength="64" class="textinput textInput" required="" id="id_address"> </div> </div>

        <br>
        <button type="submit" value="Add">Add</button>
    </form>
</body>
</html>
