<html>
<head>
    <title>Register</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <style>
      h1{
        font-family: 'Lobster', cursive;
        text-align: center;
      }
      body {
        font-family: 'Quicksand', sans-serif;
        background-color: #A2B8A3;
    }
      div {
        margin: auto;
        width: 60%;
        border: 3px solid black;
        padding: 10px;
        text-align: center;
    }
    </style>
</head> 
<body>
    <a href="login">Back to Login</a>
    <h1>Register as Provider</h1>
</body>
</html>
