<html>
<head>
<style>
table {
  border-collapse: collapse;
  width: 70%;
}

th, td {
  padding: 8px;
}

tr:nth-child(even) {background-color: #D3EAFF;}
  
th {
  background-color: #43408F;
  color: white;
}
  
body {
  font-family: Helvetica, sans-serif;
}
  
</style>
</head>
<body>
    <h2>&#127969 Services in Cleaning &#129529</h2>
    <br/><br/>
    <a href="services/{{cust.0}}">Back</a><br>
    <table border=1>
        <thead>
            <th>Expertise</th>
            <th>Description</th>
        </thead>
        {% for exp in expert %}
        <tr>
            <td> <a href="job_req/{{cust.0}}/{{exp.0}}">{{ exp.0 }}</a></td>
            <td> {{ exp.1 }} </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
