<html>
<body>
    <h2>Edit {{obj.5}}</h2>
    <a href="database">Back to home</a>

    <p style="color:red">{{ status|safe }}</p>

    <!-- Create a Form -->
    <form method="POST">
        <!-- Security token by Django -->
        {% csrf_token %}
        <!-- form -->
        <div id="div_id_user" class="control-group"> <label for="id_user" class="control-label requiredField">
        Password<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="password" value="{{obj.1}}" maxlength="64" class="textinput textInput" required="" id="id_password"> </div> </div> <div id="div_id_first_name" class="control-group"> <label for="id_first_name" class="control-label requiredField">
        First Name<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="first_name" value="{{obj.2}}" maxlength="64" class="textinput textInput"required="" id="id_first_name"> </div> </div> <div id="div_id_last_name" class="control-group"> <label for="id_last_name" class="control-label requiredField">
        Last Name<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="last_name" value="{{obj.3}}" maxlength="64" class="textinput textInput" required="" id="id_last_name"> </div> </div> <div id="div_id_gender" class="control-group"> <label for="id_gender" class="control-label requiredField">
        Gender<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="gender" value="{{obj.4}}" maxlength="64" class="textinput textInput" required="" id="id_gender"> </div> </div> <div id="div_id_email" class="control-group"> <label for="id_email" class="control-label requiredField">
        Email Address<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="email" value="{{obj.6}}" maxlength="64" class="textinput textInput" required="" id="id_email"> </div> </div> <div id="div_id_address" class="control-group"> <label for="id_address" class="control-label requiredField">
        Address<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="address" value="{{obj.6}}" maxlength="64" class="textinput textInput" required="" id="id_address"> </div> </div>
        <br>
        <button type="submit" value="Update">Update</button>
    </form>
</body>
</html>
