<html>
<head>
<style>
table {
  border-collapse: collapse;
  width: 70%;
}

th, td {
  padding: 8px;
}

tr:nth-child(even) {background-color: #D3EAFF;}
  
th {
  background-color: #43408F;
  color: white;
}
  
body {
  font-family: Helvetica, sans-serif;
}
  
</style>
</head>
<body>
    <h2>Providers in {{prov.0.6}}</h2>
    <br/><br/>
    <input type="button" value="Back" onclick="history.back()">
    <table border=1>
        <thead>
            <th>Provider Name</th>
            <th>Gender</th>
        </thead>
        {% for provider in prov %}
        <tr>
            <td> <a href onclick="return confirm('Are you sure you want to select {{provider.2}} {{provider.3}}?');" type="submit" name="action" value="transaction">{{provider.2}} {{provider.3}} </a href> </td>
            <td> {{provider.4}} </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
