<html>
<head>
<style>
table {
  border-collapse: collapse;
  width: 70%;
}

th, td {
  padding: 8px;
}

tr:nth-child(even) {background-color: #D3EAFF;}
  
th {
  background-color: #43408F;
  color: white;
}
  
body {
  font-family: Helvetica, sans-serif;
}
  
</style>
</head>
<body>
    <h2>Services in {{serv}}</h2>
    <br/><br/>
    <input type="button" value="Back" onclick="history.back()">
    <table border=1>
        <thead>
            <th>Expertise</th>
            <th>Description</th>
        </thead>
        {% for category in cat %}
        <tr>
            <td> <a href="job_req/{{category.0}}">{{category.0}}</a></td>
            <td> {{category.1}} </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
