<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
  </head>
<body>

<h1>Login Form</h1>
  <a href="/">Back to Home</a>
  <p style="color:red">{{ status|safe }}</p>
  <form method="post">
    {% csrf_token %}
    <label for="user">Username:</label>
    <input type="text" id="user" name="user"><br><br>
    <label for="user_pass">Password:</label>
    <input type="password" id="user_pass" name="user_pass"><br><br>
    <button type="submit" value="login">Login</button>
  </form>
  <p> Not a member yet? <a href="add">Register Here</a> </p>
</body>
</html>
