{% load static %}
<html>
<body>
    <h2>Transaction</h2>
    <img src="{% static 'app/images/nus.jpg' %}" width="10%"   alt="NUS logo"/><br/>
    <form>
        <input type="button" value="Back" onclick="history.back()">
    </form>
    <a href="/">Homepage</a><br>
    <br/><br/>
    <table border=1>
        <thead>
            <th>Customer ID</th>
            <th>Provider ID</th>
            <th>Customer Name</th>
            <th>Provider Name</th>
            <th>Address</th>
            <th>Job</th>
            <th>Price</th>
        </thead>
        {% for row in cust %}
        <tr>
            <td> {{ row.0 }} </td>
            <td> {{ row.0 }} </td>
            <td> {{ row.2 }} {{ row.3 }} </td>
            <td> {{ row.2 }} {{ row.3 }} </td>
            <td> {{ row.6 }} </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
