<html>
<head>
<style>
table {
  border-collapse: collapse;
  width: 50%;
}

th, td {
  padding: 8px;
}

tr:nth-child(even) {background-color: #D3EAFF;}
  
th {
  background-color: #43408F;
  color: white;
}
  
body {
  font-family: Helvetica, sans-serif;
}
  
</style>
</head>
<body>
    <h2>&#128218 Subjects in Tuition &#x1F4DA</h2>
    <br/><br/>
    <a href="services">Back</a><br>
    <table border=1>
        <thead>
            <th>Expertise</th>
        </thead>
        {% for exp in expert %}
        <tr>
            <td> <a href="job_req/{{cust.0}}/{{exp.0}}">{{ exp.0 }}</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
