<html>
<body>
    <h2>Details for {{cust.2}} {{cust.3}}</h2>
    <input type="button" value="Back" onclick="history.back()">
    <br/><br/>
    <table style='text-align:left'>
        <tr>
            <th>User ID</th>
            <td>:</td>
            <td> {{ cust.0 }} </td>
        </tr>
        <tr>
            <th>First Name</th>
            <td>:</td>
            <td> {{ cust.2 }} </td>
        </tr>
        <tr>
            <th>Last Name</th>
            <td>:</td>
            <td> {{ cust.3 }} </td>
        </tr>
        <tr>
            <th>Gender</th>
            <td>:</td>
            <td> {{ cust.4 }} </td>
        </tr>
        <tr>
            <th>Email Address</th>
            <td>:</td>
            <td> {{ cust.5 }} </td>
        </tr>
        <tr>
            <th>Expertise/th>
            <td>:</td>
            <td> {{ cust.6 }} </td>
        </tr>
        <tr>
            <th>Address</th>
            <td>:</td>
            <td> {{ cust.7 }} </td>
        </tr>
    </table>
</body>
</html>
